<div align="center">
  <br>
  <%= current_year %>
  <br>
  <%= github_url("glebson1988", "test-guru") %><br>
  Тест Гуру <br>
  <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com', target: '_blank' %>
</div>
